<div class="container-fluid p-5  b-height" style="background-color: #bfaee0">

  <div *ngIf="alertCompletion">
    <ngb-alert id="сompletion" type="warning" [dismissible]="true" (closed)="closeCopmpletion('сompletion')">
      <b>All fields must be filled in!</b>
    </ngb-alert>
  </div>

  <div *ngIf="alertConfirm">
    <ngb-alert id="confirm" type="warning" [dismissible]="true" (closed)="closeConfirm('confirm')">
      <b>Passwords must match!</b>
    </ngb-alert>
  </div>

  <h1 class="text-center">Register</h1>
  <div class="row justify-content-center align-items-center p-2 align-items-stretch">
    <form #addForm="ngForm" (ngSubmit)="onAddUser(addForm)" class="col-md-4">

      <div class="form-group">
        <input type="text" [(ngModel)]="name" name="name" class="form-control text-center" id="formGroupInput" placeholder="Name">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="userLogin" name="userLogin" class="form-control text-center" id="formGroupInput2" placeholder="Login">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="userPassword" name="userPassword" class="form-control text-center" id="formGroupInput3" placeholder="Password">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="confirmPassword" name ="confirmPassword" class="form-control text-center" id="formGroupInput4" placeholder="Confirm Password">
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary text-center">Register</button>
      </div>

      <div class="reg p-5 text-center">
        <label>Already have an account?</label>
        <button type="submit" class="btn btn-outline-success btn-sm btn-block" (click)="onSubmit()">Sign in</button>
      </div>
    </form>
  </div>
</div>




